.header {
    position: relative;
    background-image: url('./resources/headerbackground.jpg');
    padding: 350px;
    margin: -20px;
}

.logo{
    position: absolute;
    top: 15px;
    left: 200px;
}

.header_box{
    position: absolute;
    top: -175px;
    left: 200px;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 80vh; 
}
.headerbox_info{
    width: 300px;
    color: white;
    font-size:25px;
}
.headerbox_info h4 {
    color: rgb(168, 154, 23);
}
.header_image{
    position: absolute;
    top: 150px;
    right: 300px;
}
.header_links{
    position: absolute;
    top: 15px;
    right: 300px;
    font-size: 30px;
} 
.header_links a {
    position: relative;
    right: -50px;
    font-size: 30px;
    margin-right: 50px; 
    text-decoration: none;
    color: white;
}






.middlecontent {
    position: relative;
    left: 0px; 
    background-image: url('./resources/background.jpg');
    padding: 275px; 
    margin: -20px;
}
.middlecontent_header{
    position: absolute;
    top: 0px;
    left: 975px;
    font-size: xx-large;
}



.textbox {
    width: 300px;
    color: white;
    font-size:25px;

}
.images_1 {
  position: relative;
  margin: 0px;
  bottom: 150px;
  left: 200px;
  max-width: 250px;
}
.text_1 {
    position: relative;
    margin: 0px;
    bottom: 700px;
    left: 200px;
    max-width: 250px;
}

.images_2 {
    position: relative;
    margin: 0px;
    bottom: 323px;
    left:  625px;
    max-width: 250px;
}
    .text_2 {
        position: relative;
        margin: 0px;
        bottom: 775px;
        left: 625px;
        max-width: 250px;
    }

  .images_3 {
    position: relative;
    margin: 0px;
    bottom: 505px;
    left: 1100px;
    max-width: 275px;
  }

  .text_3 {
    position: relative;
    margin: 0px;
    bottom: 860px;
    left: 1100px;
    max-width: 275px;
}
  .images_4 {
    position: relative;
    margin: 0px;
    bottom: 690px;
    left: 1500px;
    max-width: 275px;
  }
  .text_4 {
    position: relative;
    margin: 0px;
    bottom: 970px;
    left: 1500px;
    max-width: 275px;
}

.quote_text {
    position: relative;
    margin: 0px;
    left: 525px;
    bottom: 550px;
    color: aliceblue;
    width: 1000px;
}
.quote_text strong {
font-style: italic;
}
.horizontal_box{
    position: relative;
    padding: 45px;
    width: 300px;
    height: 125px;
    background-image: url('./resources/headerbackground.jpg');
    margin: 0px auto;  
    text-align: center; 
    color: white;
    font-size: 20px; 
    display: flex;  
    justify-content: center; 
    align-items: center; 
    
}
.horizontalbox_text h4{
    position: relative;
   max-height: 2px;
    max-width: 300px;
}
.horizontalbox_text a {
    color: yellow;
}




.footer {
    position: absolute;
    width: 100%;
    height: 75px;
    margin: 0px;
    left: 0px;
    bottom: 0px;
    background-color: black;
}

.footer_text {
    position: relative;
    margin: 0px auto;  
    text-align: center; 
    color: white;
    top: 25px;
}
